<div id="<%= dom_id provider %>">
  <p>
    <strong>Name:</strong>
    <%= provider.name %>
  </p>

  <p>
    <strong>Social reason:</strong>
    <%= provider.social_reason %>
  </p>

  <p>
    <strong>Rfc:</strong>
    <%= provider.rfc %>
  </p>

  <p>
    <strong>Telephone:</strong>
    <%= provider.telephone %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= provider.email %>
  </p>

</div>
