<div id="<%= dom_id tool %>">
  <p>
    <strong>Description:</strong>
    <%= tool.description %>
  </p>

  <p>
    <strong>Brand:</strong>
    <%= tool.brand %>
  </p>

  <p>
    <strong>Caliber:</strong>
    <%= tool.caliber %>
  </p>

  <p>
    <strong>Characteristics:</strong>
    <%= tool.characteristics %>
  </p>

  <p>
    <strong>Buying date:</strong>
    <%= tool.buying_date %>
  </p>

  <p>
    <strong>Ingress date:</strong>
    <%= tool.ingress_date %>
  </p>

  <p>
    <strong>Enterprise:</strong>
    <%= tool.enterprise_id %>
  </p>

</div>
