<div id="<%= dom_id machinery %>">
  <p>
    <strong>Number:</strong>
    <%= machinery.number %>
  </p>

  <p>
    <strong>Code:</strong>
    <%= machinery.code %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= machinery.type %>
  </p>

  <p>
    <strong>Characteristics:</strong>
    <%= machinery.characteristics %>
  </p>

  <p>
    <strong>Cost iva:</strong>
    <%= machinery.cost_iva %>
  </p>

  <p>
    <strong>Freight:</strong>
    <%= machinery.freight %>
  </p>

  <p>
    <strong>Init date:</strong>
    <%= machinery.init_date %>
  </p>

  <p>
    <strong>Renovation date:</strong>
    <%= machinery.renovation_date %>
  </p>

  <p>
    <strong>Note:</strong>
    <%= machinery.note %>
  </p>

  <p>
    <strong>Provider:</strong>
    <%= machinery.provider_id %>
  </p>

  <p>
    <strong>Enterprise:</strong>
    <%= machinery.enterprise_id %>
  </p>

</div>
