<div id="<%= dom_id article %>">
  <p>
    <strong>Name:</strong>
    <%= article.name %>
  </p>

  <p>
    <strong>Unit:</strong>
    <%= article.unit %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= article.price %>
  </p>

  <p>
    <strong>Provider:</strong>
    <%= article.provider_id %>
  </p>


</div>
