<p style="color: green"><%= notice %></p>

<%= render @project %>

<div>
  <%= link_to "Editar nombre", edit_project_path(@project) %> |
  <%= link_to "Atras", projects_path %>

  <%= button_to "Eliminar", @project, method: :delete %>
</div>
