<div id="<%= dom_id buy %>">
  <p>
    <strong>Quantity:</strong>
    <%= buy.quantity %>
  </p>

  <p>
    <strong>Iva:</strong>
    <%= buy.iva %>
  </p>

  <p>
    <strong>Total:</strong>
    <%= buy.total %>
  </p>

  <p>
    <strong>Project:</strong>
    <%= buy.project_id %>
  </p>

</div>
