<%= form_with(model: enterprise) do |form| %>
  <% if enterprise.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(enterprise.errors.count, "error") %> no se puede crear esta empresa:</h2>

      <ul>
        <% enterprise.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <h4>
  <div>
    <%= form.label :Nombre, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :responsible_id, style: "display: block" %>
    <%= form.text_field :responsible_id %>
  </div>
  </h4>
  <br>

  <div>
    <%= form.submit %>
  </div>
<% end %>
