<p style="color: green"><%= notice %></p>

<%= render @buy_article %>

<div>
  <%= link_to "Edit this buy article", edit_buy_article_path(@buy_article) %> |
  <%= link_to "Back to buy articles", buy_articles_path %>

  <%= button_to "Destroy this buy article", @buy_article, method: :delete %>
</div>
