<!DOCTYPE html>
<html>
  <head>
    <title>Iim</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
  <div class="container-fluid">
    <div class="row">
      <% if user_signed_in? %>
        <%= render 'layouts/navbar' %>
        <%= render 'layouts/sidebar' %>
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
          <div class="pt-4">
            <p id="notice"><%= notice %></p>
            <%= yield %>
          </div>
        </main>
      <% else %>
        <p id="notice"><%= notice %></p>
        <%= yield %>
      <% end %>


    </div>
  </div>
  </body>
</html>
